section.management-block#management
  .manager
    .inner
      h2.block-title.visible-sm-up Management
      .list-managers(data-slide, data-type="manager", data-toggle="HoverElement")
        +leader-item({
          alt: $i18n.management.leader1.alt,
          src: "../images/upload/leader-1.png",
          name: $i18n.management.leader1.name,
          position: $i18n.management.leader1.position,
          desc: $i18n.management.leader1.desc,
          title: $i18n.management.leader1.title,
          href: "https://hk.linkedin.com/in/david-pugliesi-4503a31"
          })
        +leader-item({
          alt: $i18n.management.leader2.alt,
          src: "../images/upload/leader-1.png",
          name: $i18n.management.leader2.name,
          position: $i18n.management.leader2.position,
          desc: $i18n.management.leader2.desc,
          title: $i18n.management.leader2.title,
          href: "https://vn.linkedin.com/in/quan-tran-3bb4681"
          })
        +leader-item({
          alt: $i18n.management.leader3.alt,
          src: "../images/upload/leader-1.png",
          name: $i18n.management.leader3.name,
          position: $i18n.management.leader3.position,
          desc: $i18n.management.leader3.desc,
          title: $i18n.management.leader3.title,
          href: "https://vn.linkedin.com/in/christophelam"
          })
        +leader-item({
          alt: $i18n.management.leader4.alt,
          src: "../images/upload/leader-1.png",
          name: $i18n.management.leader4.name,
          position: $i18n.management.leader4.position,
          desc: $i18n.management.leader4.desc,
          title: $i18n.management.leader4.title,
          href: "https://vn.linkedin.com/in/khang-phan-51589228"
          })

