include ../mixins/all
.row
  .col-sm-6.max-height
    h3.title Java developer
    .editor-1.content
      p
        strong Job Description
      p Following the design blueprints/software requirement specification created, a JAVA/J2EE developer uses Java and other programming languages/technologies to develop server and Web-based applications and (or) desktop-based applications used on computer systems and Internet sites. After the application is developed, these professionals evaluate, unit test and ensure proper functionality of the application. This developer may also participate in training users on the applications.
      p
        strong Work Requirement
      p • Solid understanding of the software development life cycle (SDLC), which is a standard process for application design.
      p • Programming skills include Java and related client-side and server-side technologies used with J2EE such as Struts, Spring, Hibernate and some JS/AJAX frameworks.
      p • Personal attributes include strong problem-solving and analytical skills, as well as the ability to work in a team environment.
      p • Have knowledge about UML design, design patterns.
      p • Experience in CMS is an advantage.
      p • Ability to work under pressure.
      p • High responsibility/reliability.
      p • Self-motivated.
      p
        strong Other information
      p • Great chance to develop your skills and competences, with multiple trainings and job opportunities
      p • Successful candidates will be offered a friendly, motivated working environment in Sutrix Media
      p • Opportunities for promotions and career development in a dynamic
      p • Relaxed, friendly atmosphere as well as excellent working facilities
      p • Social insurance follow Vietnam’s law
      p • 13th-month salary
      p • Annual company trip
      p • Only 40h working/week (Full weekend off)
      p • 12 days holiday/year, take holiday on X’mas, take ½ off in birthday
      p • Free snacks & beverages
  .col-sm-6.custom-padding
    h3.title Post your resume
    .content
      form(action='', method='post', novalidate, name='resumeform', autocomplete="off").form-1.resume-form#resume-form
        .row
          .col-sm-6
            .form-group
              label(for="username") Name
                span.orange *
              +input('text', 'username', '', 'username')(required="required")
              span.error-message.hide Please enter your first name
            .form-group
              label(for="lastname") Last name
                span.orange *
              +input('text', 'lastname', '', 'lastname')(required="required")
              span.error-message.hide Please enter your last name
            .form-group
              label(for="email") Email
                span.orange *
              +input('text', 'email', '', 'email')(required="required")
              span.error-message.hide Please enter email address
            .form-group
              label Upload CV
                span.orange *
              .upload
                +input('file', 'file')(required="required")
                +input('text', 'upload', '', 'upload')
                span Browse
              span.error-message.hide Please select your resume
          .col-sm-6.break-line
            .form-group.comment
              label(for="comment") Comments
                span.orange
              textarea(id="comment", name='comment')
            .form-group.capcha
              label(for="security") Security images
                span.orange *
              .field-capcha
                +img('../images/photo-capcha.jpg', '')
              .field-security
                +input('text', 'security', '', 'security')(required="required")
                span.error-message.hide Please enter code
            .form-group
              button(type="submit", name="submitbtn").send-btn.btn.btn-color
                span Send
              button(type="reset").send-btn.btn.btn-color.clear-btn
                span Clear
button(type="button", data-return="return-career").back-btn.btn.btn-color
  span Back
