.row
  .col-sm-6.max-height
    h3.title Java developer
    .editor-1.content
      p
        strong Job Description
      p Following the design blueprints/software requirement specification created, a JAVA/J2EE developer uses Java and other programming languages/technologies to develop server and Web-based applications and (or) desktop-based applications used on computer systems and Internet sites. After the application is developed, these professionals evaluate, unit test and ensure proper functionality of the application. This developer may also participate in training users on the applications.
      p
        strong Work Requirement
      p • Solid understanding of the software development life cycle (SDLC), which is a standard process for application design.
      p • Programming skills include Java and related client-side and server-side technologies used with J2EE such as Struts, Spring, Hibernate and some JS/AJAX frameworks.
      p • Personal attributes include strong problem-solving and analytical skills, as well as the ability to work in a team environment.
      p • Have knowledge about UML design, design patterns.
      p • Experience in CMS is an advantage.
      p • Ability to work under pressure.
      p • High responsibility/reliability.
      p • Self-motivated.
      p
        strong Other information
      p • Great chance to develop your skills and competences, with multiple trainings and job opportunities
      p • Successful candidates will be offered a friendly, motivated working environment in Sutrix Media
      p • Opportunities for promotions and career development in a dynamic
      p • Relaxed, friendly atmosphere as well as excellent working facilities
      p • Social insurance follow Vietnam’s law
      p • 13th-month salary
      p • Annual company trip
      p • Only 40h working/week (Full weekend off)
      p • 12 days holiday/year, take holiday on X’mas, take ½ off in birthday
      p • Free snacks & beverages
  include career-form
button(type="button", data-return="return-career").back-btn.btn.btn-color
  span Back
