.row
  .col-sm-6.max-height
    h3.title QC - HCMC-Vietnam
    .editor-1.content
      p
        strong Position
      p QC
      p
        strong Location
      p HCMC-Vietnam
      p
        strong Responsibilities
      p Write and execute test cases based on application requirements. Open bugs in bug tracking system and work with developer to close bugs. In some cases, automation test and scripting will be required.
      p
        strong Requirements
      p A university degree in Computer Science or a related discipline. Testing on different browser and platforms. Knowledge of e-commerce workflow and issues.
  include career-form
button(type="button", data-return="return-career").back-btn.btn.btn-color
  span Back
