.row
  .col-sm-6.max-height
    h3.title Php developer - HCMC-Vietnam
    .editor-1.content
      p
        strong Position
      p PHP Developer
      p
        strong Location
      p HCMC-Vietnam
      p
        strong Responsibilities
      p Design and write high-performance, reliable and maintainable PHP code. Be able to design and build high quality user interfaces. Work as part of a team across a wide range of projects to create innovative web applications.
      p
        strong Requirements
      p A university degree in Computer Science or a related discipline is required. At least 2 year experience programming in PHP and familiarity with Wordpress, Joomla and Drupal. Knowledge of e-commerce workflow and issues is a plus.
  include career-form
button(type="button", data-return="return-career").back-btn.btn.btn-color
  span Back
