include ../mixins/all
.row
  .col-sm-6.max-height
    h3.title Front-end developer - HCMC-Vietnam
    .editor-1.content
      p
        strong Job Description
      p Frontend Developer is responsible for creating website with HTML/CSS/JavaScript techniques. Need candidates with good knowledge at HTML4/CSS2, HTML5/CSS3, CSS3 animation, Jade/Less/Sass, Bootstrap, Responsive, jQuery, Sencha, Canvas/WebGL, Social network APIs.
      p
        strong Work Requirement
      p • Knowledge of HTML languages, CSS technologies and JavaScript libraries.
      p • Validated with W3C standard (HTML, CSS, WAI).
      p • Convert PSD to HTML with CSS/JavaScript integrated.
      p Experience in development of HTML, CSS with Adobe Photoshop, Adobe Illustrator.
      p • Knowledge of website structure and functionality.
      p • Understanding of HTML, CSS optimizations, JavaScript, debugging and troubleshooting techniques.
      p • Have creativity and imagination.
      p • Give guidance on layout, colors and styles.
      p • Ability to work independently.
      p • Knowledge of open CMS such as Wordpress, Drupal, Shopify, BigCommerce.
      p • Testing the website for functionality in different browsers and at different resolutions.
      p • Working with an SCM tool such as GIT, Subversion.
      p
        strong Other information
      p • Great chance to develop your skills and competences, with multiple trainings and job opportunities
      p • Successful candidates will be offered a friendly, motivated working environment in Sutrix Media
      p • Opportunities for promotions and career development in a dynamic
      p • Relaxed, friendly atmosphere as well as excellent working facilities
      p • Social insurance follow Vietnam’s law
      p • 13th-month salary
      p • Annual company trip
      p • Only 40h working/week (Full weekend off)
      p • 12 days holiday/year, take holiday on X’mas, take ½ off in birthday
      p • Free snacks & beverages
  .col-sm-6.custom-padding
    h3.title Post your resume
    .content
      form(action='', method='post', novalidate, name='resumeform', autocomplete="off").form-1.resume-form#resume-form
        .row
          .col-sm-6
            .form-group
              label(for="username") Name
                span.orange *
              .input-group
                +input('text', 'username', '', 'username')(required="required")
                span.error-message.hide Please enter your first name
            .form-group
              label(for="lastname") Last name
                span.orange *
              .input-group
                +input('text', 'lastname', '', 'lastname')(required="required")
                span.error-message.hide Please enter your last name
            .form-group
              label(for="email") Email
                span.orange *
              .input-group
                +input('text', 'email', '', 'email')(required="required")
                span.error-message.hide Please enter email address
            .form-group
              label Upload CV
                span.orange *
              .upload.input-group
                +input('file', 'file')(required="required")
                +input('text', 'upload', '', 'upload')
                span.browse Browse
                span.error-message Please select your resume
          .col-sm-6.break-line
            .form-group.comment
              label(for="comment") Comments
                span.orange
              textarea(id="comment", name='comment')
            .form-group.capcha
              label(for="security") Security images
                span.orange *
              .field-capcha
                +img('../images/photo-capcha.jpg', '')
              .field-security.input-group
                +input('text', 'security', '', 'security')(required="required")
                span.error-message Please enter code
            .form-group.group-btn
              button(type="submit", name="submitbtn").send-btn.btn.btn-color
                span Send
              button(type="reset").send-btn.btn.btn-color.clear-btn
                span Clear
button(type="button", data-return="return-career").back-btn.btn.btn-color
  span Back
