include ../mixins/all
.row
  .col-sm-6.max-height
    h3.title Project manager
    .editor-1.content
      p
        strong Job Description
      p The Project Manager is responsible for planning, executing and evaluating projects according to timelines and budgets.  The PM is the bridge between the client and the development team, ensuring the client expectations are well implemented within budget.
      p
        strong Work Requirement
      p Assist in the definition of project scope and requirements, involving all relevant stakeholders and ensuring technical feasibility
      p Develop a detailed project plan to monitor and track progress
      p Track project progress ensuring highest quality of work
      p Successfully manage the relationship with the client and all stakeholders by excellent communication
      p Manage changes to the project scope, project schedule, and project costs
      p Create and maintain comprehensive project documentation
      p Perform risk management to minimize project risks
      p
        strong Required Skills
      p Background and understanding of software development
      p Knowledge of prevailing web and mobile technology
      p Excellent communication skill and client handling skills
      p Solid organizational skills including attention to detail and multi-tasking skills
      p Good English communication skills is a plus
      p
        strong Benefits
      p Great chance to develop your skills and competences, with in-house skill and English training
      p Successful candidates will be offered a friendly, dynmic working environment in Sutrix Media
      p Opportunities for promotions and career development in a fast growing company
  .col-sm-6.custom-padding
    h3.title Post your resume
    .content
      form(action='', method='post', novalidate, name='resumeform', autocomplete="off").form-1.resume-form#resume-form
        .row
          .col-sm-6
            .form-group
              label(for="username") Name
                span.orange *
              .input-group
                +input('text', 'username', '', 'username')(required="required")
                span.error-message.hide Please enter your first name
            .form-group
              label(for="lastname") Last name
                span.orange *
              .input-group
                +input('text', 'lastname', '', 'lastname')(required="required")
                span.error-message.hide Please enter your last name
            .form-group
              label(for="email") Email
                span.orange *
              .input-group
                +input('text', 'email', '', 'email')(required="required")
                span.error-message.hide Please enter email address
            .form-group
              label Upload CV
                span.orange *
              .upload.input-group
                +input('file', 'file')(required="required")
                +input('text', 'upload', '', 'upload')
                span.browse Browse
                span.error-message Please select your resume
          .col-sm-6.break-line
            .form-group.comment
              label(for="comment") Comments
                span.orange
              textarea(id="comment", name='comment')
            .form-group.capcha
              label(for="security") Security images
                span.orange *
              .field-capcha
                +img('../images/photo-capcha.jpg', '')
              .field-security.input-group
                +input('text', 'security', '', 'security')(required="required")
                span.error-message Please enter code
            .form-group.group-btn
              button(type="submit", name="submitbtn").send-btn.btn.btn-color
                span Send
              button(type="reset").send-btn.btn.btn-color.clear-btn
                span Clear
button(type="button", data-return="return-career").back-btn.btn.btn-color
  span Back
