.row
  .col-sm-6.max-height
    h3.title Front-end developer - HCMC-Vietnam
    .editor-1.content
      p
        strong Job Description
      p Frontend Developer is responsible for creating website with HTML/CSS/JavaScript techniques. Need candidates with good knowledge at HTML4/CSS2, HTML5/CSS3, CSS3 animation, Jade/Less/Sass, Bootstrap, Responsive, jQuery, Sencha, Canvas/WebGL, Social network APIs.
      p
        strong Work Requirement
      p • Knowledge of HTML languages, CSS technologies and JavaScript libraries.
      p • Validated with W3C standard (HTML, CSS, WAI).
      p • Convert PSD to HTML with CSS/JavaScript integrated.
      p Experience in development of HTML, CSS with Adobe Photoshop, Adobe Illustrator.
      p • Knowledge of website structure and functionality.
      p • Understanding of HTML, CSS optimizations, JavaScript, debugging and troubleshooting techniques.
      p • Have creativity and imagination.
      p • Give guidance on layout, colors and styles.
      p • Ability to work independently.
      p • Knowledge of open CMS such as Wordpress, Drupal, Shopify, BigCommerce.
      p • Testing the website for functionality in different browsers and at different resolutions.
      p • Working with an SCM tool such as GIT, Subversion.
      p
        strong Other information
      p • Great chance to develop your skills and competences, with multiple trainings and job opportunities
      p • Successful candidates will be offered a friendly, motivated working environment in Sutrix Media
      p • Opportunities for promotions and career development in a dynamic
      p • Relaxed, friendly atmosphere as well as excellent working facilities
      p • Social insurance follow Vietnam’s law
      p • 13th-month salary
      p • Annual company trip
      p • Only 40h working/week (Full weekend off)
      p • 12 days holiday/year, take holiday on X’mas, take ½ off in birthday
      p • Free snacks & beverages
  include career-form
button(type="button", data-return="return-career").back-btn.btn.btn-color
  span Back
